.blacksection {
  .buttonblock {
    width: 350px;
    height: 150px;

    .buttonblock-title {
      font-family: TTSquaresCondensedBlackItalic;
      font-size: 36px;
    }

    .buttonblock-p {
      font-size: 17px;
    }
  }
}
