
  .mainsection {
    background-image: url(../../../i/bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 399px;
    overflow: hidden;


    .logo {
      position: relative;
      background-color: rgba(12, 16, 19, 0.9);
      height: 65px;
      top: 0;
      width: 100%;

      img {
        display: block;
        margin: auto;
        padding-top: 12px;
        width: 160px;
      }
    }

    .flag {
      position: absolute;
      top: 93px;
      left: 50%;
      margin-left: -123px;
      height: 190px;
      width: 252px;
    }

    .bben {
      position: absolute;
      left: calc(50% - 208px);
      top: 26%;
      width: 177px;
      height: 177px;
      animation: jumpben500 300ms linear, rotateben 300ms 4 ease-in-out 300ms;
    }

    .bridge {
      position: absolute;
      top: 111px;
      left: calc(50% - 68px);
      width: 385px;
      height: 190px;
      animation: jumpbridge 300ms linear, rotatebridge 300ms 4 ease-in-out 300ms;
    }

    .pepsi {
      position: absolute;
      left: 50%;
      margin-left: -249px;
      bottom: 32px;
      height: 228px;
      width: 508px;
    }

    .aboutexpert {
      position: absolute;
      left: calc(50% - 60px);
      top: 250px;
      font-family: 'Roboto', sans-serif;
      color: white;
      font-size: 9px;
      text-align: center;
    }
    .aboutexpert1100 {
      display: none;
    }
  }
